.tourView{
  .slider-item{
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .slider-start {
    position: absolute;
    left: 28.8%;
    top: 44.2%;
    width: 42.4%;
    height: 40px;
    background-color: #f21717;
    color: white;
    border: none;
    border-radius: 10px;
  }

}
